.outer-cont {
  width: 100vw;
  height: 100vh;
  background-color: #b8daff;
  position: fixed;
}

.list-comp {
  margin-left: 10rem;
  margin-top: -100px;
}

.final {
  width: 400px;
}

.head {
  margin-left: 10rem;
  margin-top: 6rem;
}

.center {
  margin-left: 32rem;
  height: 4rem;
}

.gen {
  size: 40px;
}